<!-- Extend the base html with this html file -->
{% extends "base.html" %}

<!-- Overwriting the MetaDescription block -->
{% block metaDescription %}
<meta name="description" content="{{ all_meta_description_objs.last.text }}">
{% endblock %}

<!-- Overwriting the title block -->
{% block title %}
<title>Doga Ege Ozden | Terms and Conditions</title>
{% endblock %}

<!-- Overwriting the stylesheet block -->
{% block stylesheet %}
{% load static %}
<link rel='stylesheet' href="{% static 'css/terms_and_conditions/terms_and_conditions.css' %}">
{% endblock %}

<!-- Overwriting the mainBox block -->
{% block mainBox %}
<div class="TermsAndConditionsBox">
    <h1>TERMS AND CONDITIONS</h1>
    <!-- Effective Date -->
    <p>Effective Date: Feb 2, 2022</p>
    <!-- Introduction & Privacy Policy -->
    <section id="Introduction">
        <h2>INTRODUCTION</h2>
        <p>Welcome to <a class="TheWebPageLink" href="#"></a>!</p>
        <p>The following terminology applies to these Terms and Conditions, Privacy Statement and Disclaimer Notice and all Agreements: "Client", "You" and "Your" refers to you, the person log on this website, using the Service and compliant to the Company’s terms and conditions. "The Company", "Ourselves", "We", "Our" and "Us", refers to me.</p>
        <p>Please read these terms and conditions carefully. Before accessing or using the Service, including browsing any of my websites, accessing an app or using the Service, you must agree to these Term and Conditions and the <a class="PrivacyPolicyLink" href="#"></a>. These terms and conditions govern the relationship between you and Me regarding your access and use of the Service(apps, store, sites and related services). A guest account may be created for you for the use of the Service and you may also be required to register an account on the Service (collectively "Account"). These Accounts include, for example, app Accounts and Subscriptions. By using or registering for an Account or otherwise using the Service, you affirm that you are the legal age of majority in your country of residence. If you are not, your legal guardian must review and agree to these Terms and Conditions.</p>
        <p>This Terms And Conditions Agreement has 7 main sections.</p>
        <p>These sections are:</p>
        <ol>
            <li><a href="#Introduction">Introduction</a></li>
            <li><a href="#Jurisdiction">Jurisdiction</a></li>
            <li><a href="#AcknowledgmentStatement">Acknowledgment Statement</a> </li>
            <li><a href="#UsingTheService">Using The Service</a></li>
            <li><a href="#LimitationOfUsageAndLiabilityAndWarrantyDisclaimers">Limitation Of Usage And, Liability And Warranty Disclaimers</a></li>
            <li><a href="#IntellectualPropertyRights">Intellectual Property Rights</a></li>
            <li><a href="#ContactDetails">Contact Details</a></li>
        </ol>
    </section>
    <!-- Jurisdiction -->
    <section id="Jurisdiction">
        <h2>JURISDICTION</h2>
        <p>These Terms shall be construed in accordance with the laws of the State of Ontario, without regard to any conflict of law provisions. The waiver of any provision of these Terms shall not be considered a waiver of any other provision or of our right to require strict observance of each of the terms herein. If any provision of these Terms is found to be unenforceable or invalid for any reason, that provision shall be severable, and all other provisions shall remain in full force and effect.</p>
    </section>
    <!-- Acknowledgment Statement -->
    <section id="AcknowledgmentStatement">
        <h2>ACKNOWLEDGMENT STATEMENT</h2>
        <p>BY INSTALLING, USING OR OTHERWISE ACCESSING THE SERVICE, YOU AGREE TO THESE TERMS OF SERVICE. IF YOU DO NOT AGREE TO THESE TERMS OF SERVICE, PLEASE DO NOT INSTALL, USE OR OTHERWISE ACCESS THE SERVICE. USE OF THE SERVICE IS VOID WHERE PROHIBITED.</p>
        <p>I reserve the right, at its discretion, to change, modify, add or remove portions of these Terms of Service, its <a class="PrivacyPolicyLink" href="#"></a> and other relevant policies at any time by posting the amended terms on the Service. You will be deemed to have accepted such changes by continuing to use the Service. If at any point you do not agree to any portion of the then-current version of our Terms of Service, the Online Portfolio's <a class="PrivacyPolicyLink" href="#"></a>, or any other of my policies, rules or codes of conduct relating to your use of the Service, your right to use the Service shall immediately terminate, and you must immediately stop using the Service.</p>
    </section>
    <!-- Rules Surronding The Usage / Terms of Service-->
    <section id="UsingTheService">
        <h2>USING THE SERVICE</h2>
        <h3>YOUR RIGHTS TO USE THE SERVICE</h3>
        <p>Subject to your agreement and continuing compliance with these Terms and Conditions and any other relevant of my policies, you have a non-exclusive, non-transferable, non-sublicensable, revocable and limited right to access and use the Service for your own non-commercial entertainment purposes. You agree not to use the Service for any other purpose.</p>
        <p>The fallowing restrictions apply to the use of the Service:</p>
        <ul>
            <li>You accept full responsibility for any unauthorized use of the Service by minors. You are responsible for any use of your credit card or other payment instrument (such as Paypal or Stripe) by minors.</li>
            <li>You shall not (or attempt to) purchase, sell, rent or give away your Account, create an Account using a false identity or information, or on behalf of someone other than yourself; You shall not use the Service if you have previously been removed by me, or previously been banned from using any of my app.</li>
            <li>You shall not use the Service to advertise, or solicit, or transmit any commercial advertisements, including chain letters, junk or spam e-mail or repetitive or misleading messages to anyone.</li>
        </ul>
        <h3>SUSPENSION OR TERMINATION OF ACCOUNT AND SERVICE</h3>
        <p>WITHOUT LIMITING ANY OTHER REMEDIES, I MAY LIMIT, SUSPEND, TERMINATE, MODIFY, OR DELETE ACCOUNTS OR ACCESS TO THE SERVICE OR PORTIONS THEREOF WITH OR WITHOUT NOTICE TO YOU (i) IF YOU ARE, OR I SUSPECT THAT YOU ARE, FAILING TO COMPLY WITH THESE TERMS OF SERVICE; OR (ii) FOR ANY ACTUAL OR SUSPECTED ILLEGAL OR IMPROPER USE OF THE SERVICE. YOU CAN LOSE YOUR USER NAME AND PERSONA IN THE SERVICE AS A RESULT OF ACCOUNT TERMINATION OR LIMITATION, AS WELL AS ANY BENEFITS, PRIVILEGES, EARNED VIRTUAL ITEMS AND PURCHASED VIRTUAL ITEMS ASSOCIATED WITH YOUR USE OF THE SERVICE, AND I'M UNDER NO OBLIGATION TO COMPENSATE YOU FOR ANY SUCH LOSSES OR RESULTS.</p>
        <p>WITHOUT LIMITING OUR OTHER REMEDIES, WE MAY LIMIT, SUSPEND OR TERMINATE THE SERVICE AND ACCOUNTS OR PORTIONS THEREOF, PROHIBIT ACCESS TO OUR GAMES AND SITES, AND THEIR CONTENT, SERVICES AND TOOLS, DELAY OR REMOVE HOSTED CONTENT, AND TAKE TECHNICAL AND LEGAL STEPS TO PREVENT USERS FROM ACCESSING THE SERVICE IF WE BELIEVE THAT THEY ARE CREATING RISK OR POSSIBLE LEGAL LIABILITIES, INFRINGING THE INTELLECTUAL PROPERTY RIGHTS OF THIRD PARTIES, OR ACTING INCONSISTENTLY WITH THE LETTER OR SPIRIT OF OUR TERMS OR  POLICIES. ADDITIONALLY, WE MAY, IN APPROPRIATE CIRCUMSTANCES AND AT OUR SOLE DISCRETION, SUSPEND OR TERMINATE ACCOUNTS OF USERS WHO MAY BE REPEAT INFRINGERS OF THIRD-PARTY INTELLECTUAL PROPERTY RIGHTS.</p>
        <p>I RESERVE THE RIGHT TO TERMINATE ANY ACCOUNT THAT HAS BEEN INACTIVE FOR 180 DAYS.</p>
        <p>I reserve the right to stop offering and/or supporting the Service or a particular app or part of the Service at any time, at which point your right to use the Service or a part thereof will be automatically terminated. In such event, I shall not be required to provide refunds, benefits or other compensation to users in connection with such discontinued Service. Termination of your Account can include disabling your access to the Service or any part thereof including any content you submitted or others submitted.</p>
        <p>You may terminate your Account at any time and for any reason by contacting with us and, informing us that you wish to terminate your account from, <a class="TheContactPageURLLink" href="#"></a></p>
    </section>
    <!-- What happens for non-compliance / Limitation of liability and warranty disclaimers and Limitation of Usage -->
    <section id="LimitationOfUsageAndLiabilityAndWarrantyDisclaimers">
        <h2>LIMITATIONS OF USAGE AND, LIABILITY AND WARRANTY DISCLAIMERS</h2>
        <p>Any use of the Service as it will violate these Use Limitations is strictly prohibited, it can result in the immediate revocation of your limited right and may subject you to liability for violations of law.</p>
        <p>By installing, using or otherwise accessing the Service, you agree that under any circumstances you will not:</p>
        <ul>
            <li>Engage in any act that I deem to be in conflict with the spirit or intent of the Service or make improper use of my support services.</li>
            <li>Use or take part(directly or indirectly) in the use of cheats, exploits, automation software, malwares, emulators, bots, hacks, mods or any unauthorized third-party software designed to modify or interfere with the Service, any my app or any of my app experience.</li>
            <li>Modify or cause to be modified any files that are a part of the Service or any of my app without my express written consent.</li>
            <li>Disrupt, interfere with or otherwise adversely affect the normal flow of the Service or otherwise act in a manner that may negatively affect other users' experience when using the Service or using my apps. This includes win trading and any other kind of manipulation of rankings, taking advantage of errors in the Service to gain an unfair edge over other users and any other act that intentionally abuses or goes against the design of the Service.</li>
            <li>Disrupt, overburden, or aid or assist in the disruption or overburdening of any computer or server used to offer or support the Service or any my app environment.</li>
            <li>Institute, assist, or become involved in any type of attack, including without limitation distribution of a virus, denial of service attacks upon the Service, or other attempts to disrupt the Service or any other person's use or enjoyment of the Service.</li>
            <li>Attempt to gain unauthorized access to the Service, Accounts registered or used by others or to the computers, servers, or networks connected to the Service by any means other than the user interface provided by me, including but not limited to, by circumventing or modifying, attempting to circumvent or modify, or encouraging or assisting any other person to circumvent or modify, any security, technology, device, or software that is part of the Service.</li>
            <li>Post any information that is abusive, threatening, obscene, defamatory, libelous, or racially, sexually, religiously, or otherwise objectionable or offensive or engage in ongoing toxic behavior, such as by repeatedly posting information on an unsolicited basis.</li>
            <li>Post any information that contains nudity, excessive violence, or offensive subject matter or that contains a link to such content.</li>
            <li>Attempt to, or harass, abuse, or harm, or advocate or incite harassment, abuse, or harm of another person, group, including Tamrinotte employees, including my customer service representatives.</li>
            <li>Make available through the Service any material or information that infringes any copyright, trademark, patent, trade secret, right of privacy, right of publicity, or other right of any person or entity or impersonates any other person, including without limitation a my employee.</li>
            <li>Reverse engineer, decompile, disassemble, decipher or otherwise attempt to derive the source code for any underlying software or other intellectual property used to provide the Service or any of my app, or to obtain any information from the Service or any of my app using any method not expressly permitted by me.</li>
            <li>Solicit or attempt to solicit Login Information or any other login credentials or personal information from other users of the Service or any of my app.</li>
            <li>Collect or post anyone's private information, including personally identifiable information (whether in text, image or video form), identification documents, or financial information through the Service.</li>
            <li>Use any of my app for gambling, betting or any similar activity in which prizes or rewards can be won (directly or indirectly), including betting on the outcome of matches in which you participate as a player/consumer, irrespective of whether or not there is a fee or stake involved.</li>
        </ul>
        <p>I reserve the right to determine what conduct it considers to be in violation of the rules of use or otherwise outside the intent or spirit of these Terms of Service or the Service itself.</p>
        <p>I reserve the right to take action as a result, which may include terminating your Account, removing any comment which can be considered inappropriate, offensive or causes breach of these Terms and Conditions and, prohibiting you from using the Service in whole or in part.</p>
    </section>
    <!-- Intellectual Property Rights -->
    <section id="IntellectualPropertyRights">
        <h2>INTELLECTUAL PROPERTY RIGHTS</h2>
        <p>Unless otherwise stated, I and/or its licensors own the intellectual property rights for all material on the Service. All intellectual property rights are reserved. You may access this from <a class="TheWebPageLink" href="#"></a> for your own personal use subjected to restrictions set in these terms and conditions.</p>
        <p>You must not:</p>
        <ul>
            <li>Republish material from the Service without permission from me</li>
            <li>Sell, rent or sub-license material from the Service</li>
            <li>Reproduce(to make a copy, representation, duplicate, or close imitation of), duplicate or copy material from the Service without permission from me</li>
            <li>Redistribute content from the Service</li>
        </ul>
    </section>
    <!-- Contact Details -->
    <section id="ContactDetails">
        <h2>CONTACT DETAILS</h2>
        <p>Name of the controller: Doga Ege Ozden</p>
        <p>Address: 13 boot terrace, M3J 0A1, Toronto, ON, Canada</p>
        <p>Attention: Privacy</p>
        <p>E-mail: <a href="mailto:dogaegeozden@gmail.com">dogaegeozden@gmail.com</a></p>
    </section>
    <p>My Terms and Conditions were created with the help of the <a href="https://www.termsfeed.com/terms-conditions-generator/">Free Terms and Conditions Generator</a>.</p>
</div>
</body>
<script type="text/javascript">
// VARIABLES: You can update all the links in your terms and conditions, fast and easy, by just changing these variables
// A variable for privacy policy page's url
let privacyPolicyURL = "https://www.dogaegeozden.com/privacy_policy"
// A variable for privacy policy link's text content
let privacyPolicyLinkTextCont = "Privacy Policy"
// A variable for the web page's url
let theWebPageURL = "https://www.dogaegeozden.com";
// A variable for the web page's url's text content
let theWebPageLinkTextCont = "www.dogaegeozden.com";
// A variable for the contact page's url
let theContactPageURL = "https://www.dogaegeozden.com/contact/"
// A variable for the contact page's url's text content
let theContactPageURLTextCont = "www.dogaegeozden.com/contact/"

// ARRAYS/QUERY SETS
// A query set for all of the privacy policy links
let privacyPolicyLinks = document.querySelectorAll(".PrivacyPolicyLink");
// A query set for all the elements that has TheWebPageLink class value
let theWebPageLinks = document.querySelectorAll(".TheWebPageLink");
// A query set includes all of the elements which has the the TheWebPageURLLink class
let theWebPageURLLinks = document.querySelectorAll(".TheWebPageURLLink");
// An array for all of the elements that has the TheContactPageURLLink
let theContactPageURLLinks = document.querySelectorAll(".TheContactPageURLLink");

// LOOPS
// For each link in the query set, set the link's href attribute to the url variable and set it's text content to text content variable
for ( let a = 0 ; a < privacyPolicyLinks.length ; a ++ ) {
    privacyPolicyLinks[a].setAttribute("href", privacyPolicyURL);
    privacyPolicyLinks[a].textContent = privacyPolicyLinkTextCont;
}
// For each link in the query set. Set the link's href attribute to the url variable and set the link's text content to text content variable.
for ( let b = 0 ; b < theWebPageLinks.length; b++ ) {
    theWebPageLinks[b].setAttribute("href", theWebPageURL);
    theWebPageLinks[b].textContent = theWebPageLinkTextCont;
}
// A loop that iterates over the all the theWebPageURLLinks one by one and changes their href attribute and text content.
for ( let c = 0 ; c < theWebPageURLLinks.length; c++ ) {
    theWebPageURLLinks[c].setAttribute("href", theWebPageURL);
    theWebPageURLLinks[c].textContent = theWebPageURL;
}
// A loop that iterates over all the elements that has the particular class and changes their href attributes and text contents.
for ( let d = 0 ; d < theContactPageURLLinks.length; d++ ) {
    theContactPageURLLinks[d].setAttribute("href", theContactPageURL);
    theContactPageURLLinks[d].textContent = theContactPageURLTextCont;
}
</script>
{% endblock %}
